# Virtual Environment
venv/
env/
ENV/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# Logs
*.log

# Mac / Windows system files
.DS_Store
Thumbs.db

# Build files
build/
dist/
*.egg-info/

# Streamlit
.streamlit/secrets.toml